@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-neutral-1: #fff;
    --color-neutral-11: #c09e38;
    --color-neutral-22: #405862;
    --color-neutral-33: #aaaa;
    --color-neutral-44: #faffd8;
    --color-neutral-55: #32936F;
    --color-neutral-55: #233d4d;

}

body{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;

}

html{
    height: 100vh;
}

.container{
    max-width: 1920px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: url(./Projeto_Web/Imagens/Background/watercolor-splash-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 3em;
    display: inline-block;
    text-align: center;
    color: var(--color-neutral-1);
}

.banner h1 span{
    color: var(--color-neutral-11);
}

.card{
    right: auto;
    background-color: var(--color-neutral-22);
    width: 1055px;
    height: 500px;
    border-radius: 12px;
    box-shadow: 12px 12px 12px var(--color-neutral-33);
    margin: auto;
}


@media screen and (max-width: 768px) {
    .banner h1 {
        display: inline-block;
        text-align: center;
        font-size: 2.5em;
    }

    .card {
        width: 90%;
        height: auto;
        box-shadow: none; 
    }

}

@media screen and (max-width: 500px) {
    .banner h1 {
        display: inline-block;
        text-align: center;
        font-size: 2em;
    }
}

@media screen and (max-width: 390px) {
    .banner h1 {
        display: inline-block;
        text-align: center;
        font-size: 1.5em;
    }
} 